body {
    background-color: #f5faff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}


h1, h2 {
    color: #004488;
    text-align: center;
}


a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}


.div-box1 {
    background-color: #e6f2ff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.div-box2 {
    background-color: #fffad1;
    padding: 20px;
    margin: 20px;
    border: 2px dashed #339966;
}

.div-box3 {
    background-color: #cfd9e5; 
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}




